.pexels-deva-darshan-1173777-4-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 1232px;
  object-fit: cover;
}
.about-us-child {
  position: absolute;
  top: 210px;
  left: 106px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.5);
  width: 1229px;
  height: 697px;
}
.mask-group-icon7 {
  position: absolute;
  top: 336px;
  left: 124px;
  width: 474px;
  height: 479px;
  object-fit: cover;
}
.in-this-era {
  margin-block-start: 0;
  margin-block-end: 0;
}
.in-this-era-container {
  position: absolute;
  top: 270px;
  left: 608px;
  font-weight: 800;
  display: inline-block;
  width: 670px;
  height: 540px;
}
.nav-bar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 1440px;
  height: 96px;
}
.about-us5,
.home4 {
  position: absolute;
  top: 36px;
  left: 564px;
  font-weight: 600;
  cursor: pointer;
}
.about-us5 {
  top: 35px;
  left: 691px;
}
.join-us5,
.ngos3 {
  top: 36px;
  cursor: pointer;
}
.ngos3 {
  position: absolute;
  left: 857px;
  font-weight: 600;
}
.join-us5 {
  left: 979px;
}
.ayudar4,
.donate5,
.join-us5 {
  position: absolute;
  font-weight: 600;
}
.donate5 {
  top: 36px;
  left: 1120px;
  cursor: pointer;
}
.ayudar4 {
  top: 2px;
  left: 68px;
}
.reviving-nature4 {
  position: absolute;
  top: 43px;
  left: 68px;
  font-size: 12px;
}
.logo-child2,
.mask-group-icon8,
.mask-group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.mask-group-icon8,
.mask-group-icon9 {
  object-fit: cover;
}
.mask-group-icon9 {
  top: 2206px;
  left: 129px;
  width: 109px;
  height: 109px;
}
.logo4,
.nav-bar3 {
  position: absolute;
  top: 18px;
  left: 117px;
  width: 194px;
  height: 2297px;
  font-size: 34px;
}
.nav-bar3 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 2315px;
  font-size: 24px;
  color: #fff;
}
.about-us4 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 27px;
  color: #000;
  font-family: Montserrat;
}
