.pexels-deva-darshan-1173777-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 1232px;
  object-fit: cover;
}
.member-ngos-child,
.member-ngos-inner,
.member-ngos-item {
  position: absolute;
  top: 227px;
  left: 249px;
  width: 232px;
  height: 232px;
}
.member-ngos-inner,
.member-ngos-item {
  top: 527px;
  left: 979px;
}
.member-ngos-inner {
  top: 835px;
  left: 253px;
}
.d {
  margin-block-start: 0;
  margin-block-end: 0;
}
.dbndgndnfnfnnrnf {
  margin: 0;
}
.cdfdbgnffnfnfgnnrgnffnfgnfgnfn {
  border: 0;
  background-color: transparent;
  display: inline-block;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 25.28px;
  position: absolute;
  top: 251px;
  left: 623px;
  font-style: italic;
  color: #fff;
  text-align: left;
  width: 566px;
  height: 184px;
}
.cdfdbgnffnfnfgnnrgnffnfgnfgnfn2,
.cdfdbgnffnfnfgnnrgnffnfgnfgnfn4 {
  position: absolute;
  top: 555px;
  left: 253px;
  display: inline-block;
  font-weight: 600;
  width: 566px;
  height: 184px;
}
.cdfdbgnffnfnfgnnrgnffnfgnfgnfn4 {
  top: 857px;
  left: 623px;
}
.nav-bar-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 1440px;
  height: 96px;
}
.about-us6,
.home5 {
  position: absolute;
  top: 36px;
  left: 564px;
  font-weight: 600;
}
.about-us6 {
  top: 35px;
  left: 691px;
  cursor: pointer;
}
.join-us6,
.ngos4 {
  top: 36px;
  cursor: pointer;
}
.ngos4 {
  position: absolute;
  left: 857px;
  font-weight: 600;
}
.join-us6 {
  left: 979px;
}
.ayudar5,
.donate6,
.join-us6 {
  position: absolute;
  font-weight: 600;
}
.donate6 {
  top: 36px;
  left: 1120px;
  cursor: pointer;
}
.ayudar5 {
  top: 2px;
  left: 68px;
}
.reviving-nature5 {
  position: absolute;
  top: 43px;
  left: 68px;
  font-size: 12px;
}
.logo-child3,
.mask-group-icon10,
.mask-group-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.mask-group-icon10,
.mask-group-icon11 {
  object-fit: cover;
}
.mask-group-icon11 {
  top: 2206px;
  left: 129px;
  width: 109px;
  height: 109px;
}
.logo5,
.nav-bar4 {
  position: absolute;
  top: 18px;
  left: 117px;
  width: 194px;
  height: 2297px;
  font-size: 34px;
}
.nav-bar4 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 2315px;
  font-size: 24px;
}
.member-ngos1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1200px;
  overflow: hidden;
  text-align: left;
  font-size: 25.28px;
  color: #fff;
  font-family: Montserrat;
}
